
  <div>
   <article class="media">
      <figure class="media-left">
        <%= erb :'_vote', locals: { url: "/questions/#{@question.id}/vote", score: @question.score } %>
      </figure>
      <div class="media-content">
          <h1><%= @question.title %></h1>
        <div class="content">
          <p>
            <%= @question.body %>
            <br>
          <small><%= formatted_datetime(@question.created_at) %> by <strong><%= @question.author.username %></strong></small>
          </p>
        </div>     
        <%= erb :'_comment', locals: { url: "/questions/#{@question.id}/comments", comments: @question.comments} %>
      </div>
    </article>


  </div>



  <h2>Answers</h2>

  <% if @question.best_answer %>

    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="box" id="best-answer-box">
          <%= erb :'_answer', locals: { answer: @question.best_answer, question: @question, is_best_answer: true} %>
        </div>
      </div>
    </div>

  <% end %>

  <% @question.answers_without_best.each do |answer| %>
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="box">
          <%= erb :'_answer', locals: { answer: answer, question: @question, is_best_answer: false  } %>
        </div>
      </div>
    </div>
  <% end %>

  <% if @answer %>
    <%= erb :'_error', locals: { errors: @answer.errors.full_messages } %>
  <% end %>

  <% if logged_in? %>
    <%=erb :_answerform, locals: { url: "/questions/#{@question.id}/answers", answer: @answer} %>
  <% end %>


