<div class="container">
  <div style="border: 1px dashed #bbb;">
    <h1><%= @question.title %></h1>
    <span class='byline'>Created by <%=@question.author.username%> on <%=standard_datetime(@question.created_at)%></span>
    <p><%= @question.body %></p>

    <%= erb :'_vote', locals: { url: "/questions/#{@question.id}/vote", score: @question.score } %>

  </div>

  <% # Comments for question %>

  <%= erb :'_comment', locals: { url: "/questions/#{@question.id}/comments", comments: @question.comments} %>


  <% # Answers for question %>

  <h2>Answers</h2>

  <% # Check for best answer %>

  <% if @question.best_answer %>

  <h3>Best Answer</h3>
    <div style="border: 1px solid #bbb; margin:10px; background-color: #a3ffca">
      <span class='byline'>Answer by <%=@question.best_answer.user.username%> on <%=standard_datetime(@question.best_answer.created_at)%></span>

          <%= erb :'_vote', locals: { url: "/answers/#{@question.best_answer.id}/vote", score: @question.best_answer.score } %>
        <br>
      <p><%= @question.best_answer.body %></p>
        <br>
        <h4>Comments:</h4>
        <% @question.best_answer.comments.each do |comment| %>
          <div style="border: 1px solid #ddd; margin-left: 20px;" >
            <p><%= comment.body %></p>
          <%= erb :'_vote', locals: { url: "/comments/#{comment.id}/vote", score: comment.score } %>

          </div>
        <% end %>
    </div>
  <h3>Other Answers</h3>
  <% end %>

  <% @question.answers_without_best.each do |answer| %>
    <div style="border: 1px solid #bbb; margin:10px">
      <span class='byline'>Answer by <%=answer.user.username%> on <%=standard_datetime(answer.created_at)%></span>
      <!-- question to mark as best answer -->
      <% if current_author?(@question) %>
        <form action="<%= "/questions/#{answer.question.id}" %>" method="POST">
          <input type="hidden" name="_method" value="PUT">
          <input type="hidden" name="answer_id" value="<%= answer.id %>">
          <input type="submit" value="Mark as best answer">
        </form>
      <% end %>
      <!-- end of best answer form -->
          <%= erb :'_vote', locals: { url: "/answers/#{answer.id}/vote", score: answer.score } %>
        <br>
      <p><%= answer.body %></p>
        <br>
          <%= erb :'_comment', locals: { url: "/answers/#{answer.id}" ,comments: answer.comments} %>
    </div>
  <% end %>

  <% if @answer %>
    <%= erb :'_error', locals: { errors: @answer.errors.full_messages } %>
  <% end %>

  <% if logged_in? %>
    <%=erb :_answerform %>
  <% end %>

</div>
