<div class="container">

  <h1><%= @question.title %></h1>
  <span class='byline'>Created by <%=@question.author.username%> on <%=standard_datetime(@question.created_at)%></span>
  <p><%= @question.body %></p>

  <% # Comments for question %>

  <h4>Question Comments:</h4>

  <% @question.comments.each do |comment| %>

      <div style="border: 1px solid #ddd;" >
      <p><%= comment.body %></p>
      <p>Score: <%= comment.score %></p>
      </div>

  <% end %>

  <% # Answers for question %>
  
  <h2>Answers</h2>

  <% # Check for best answer %>

  <% @question.answers.each do |answer| %>
    <div style="border: 1px solid #bbb; margin:10px">
      <span class='byline'>Answer by <%=answer.user.username%> on <%=standard_datetime(answer.created_at)%></span>
      <p>Score: <%= answer.score %></p>
        <br>
      <p><%= answer.body %></p>
        <br>
        <h4>Comments:</h4>
        <% answer.comments.each do |comment| %>
          <div style="border: 1px solid #ddd; margin-left: 20px;" >
            <p><%= comment.body %></p>
            <p>Score: <%= comment.score %></p>
          </div>
        <% end %>

        erb(:'/partial name', action: url)

    </div>
  <% end %>

  <%= erb :'_error' %>

  <%=erb :_answerform %>


</div>